<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to your Dashboard, <%= username %>!</h2>
        <p>Login successful!</p>
        <h3>Scan this QR code to access the menu:</h3>
        <img src="/images/qrcode.jpg" alt="QR Code">

        <a href="/menu" class="scan-now-button">Scan Now</a>
    </div>
</body>
</html>